version: '3.8'

services:
  searxng:
    image: searxng/searxng:latest
    container_name: searxng

    ports:
      - "8080:8080"

    volumes:
      - ./settings.yml:/etc/searxng/settings.yml
      - ./uwsgi.ini:/etc/searxng/uwsgi.ini

    environment:
      - UWSGI_HTTP=:8080

    restart: always
    user: "1000:1000"
