use_default_settings: true

general:
  debug: false
  instance_name: "Chatr Search"
  contact_url: ""
  default_locale: "en"
  default_language: "en"
  default_theme: simple

server:
  bind_address: "0.0.0.0"
  port: 8080
  secret_key: "chatr-secret-key"
  method: "POST"

ui:
  theme: simple
  default_lang: "en"

search:
  autocomplete: "duckduckgo"

engines:
  - name: duckduckgo
    engine: duckduckgo
    disabled: false

  - name: bing
    engine: bing
    disabled: false

  - name: wikipedia
    engine: wikipedia
    disabled: false

categories_as_tabs: true
